
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #121212;
  color: white;
}

body.light {
  background-color: white;
  color: black;
}

header {
  background: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #333;
}

.projects-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.project {
  flex: 1 1 250px; 
  background: #fff;
  padding: 1rem;
  border-left: 5px solid #333;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}


.signup-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2319bd; 
  color: white;
  padding: 18px 22px;    
  border-radius: 20%;     
  font-size: 10px;        
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-btn:hover {
  background-color: #1390a3; 
  transform: scale(1.1);    

}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #ccc;
}

.slider {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}


.section {
  max-width: 400px;   
  margin: 2rem auto;  
  padding: 1.5rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.section h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.section form {
  display: flex;
  flex-direction: column;
}

.section input,
.section textarea {
  margin-bottom: 0.8rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.section button {
  padding: 0.6rem;
  font-size: 0.9rem;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section button:hover {
  background: #555;
}
.prev { left: 10px; }
.next { right: 10px; }

.skill {
  margin: 20px 0;
}

.skill p {
  margin-bottom: 8px;
  font-weight: bold;
}

.progress-bar {
  background: #ddd;
  border-radius: 25px;
  overflow: hidden;
  height: 25px;
}

.progress {
  background: linear-gradient(90deg, #4caf50, #81c784);
  height: 100%;
  width: 0;
  transition: width 2s ease;
}

.progress::after {
  content: attr(data-progress) "%";
  position: absolute;
  right: 10px;
  color: white;
  font-size: 0.9rem;
}